body{
    background-color: snow;
    margin: 0

}

header, section, div, h1, p {

    margin: 0;

}

#barra {

    background-color: rgb(250, 247, 75);

}


#cinzatopo{

    padding-left: 1%;
    background-color: rgb(235, 230, 230)
}

#cinzasec {

    display: flex;
    background-color: rgb(235, 230, 230);
    height: 5%;
    

}

.cinzabaixo{
    display: flex;
    width: 4%;
    margin: 0 1% 0.2% 0.5%;
    
}

.icon {

    
    padding-top: 2%;
    max-width: 35%;
    height: auto;

}

.botao {

    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 10%;    
    margin-top: 10%;
    padding-bottom:6%;
    height: 70%;
    

}

#botaosave {

    align-items: center;
    display: flex;
    width: 80%;
    padding-left: 10%;    
    padding-top: 8%;
    padding-right: 5%;

}

.divsavedraft{
    display: flex;
    width: 7%;
    padding-top: 0.2%;
    
}

.iconsavedraft {

    padding-top: 7.5%;
    max-width: 25%;
    height: 50%;

}

.barrinha {

   margin-top: 10%;
   margin-left: 9%;
   font-size: 25px;

}

#botaoload {

    align-items: center;
    display: flex;
    width: 100%;
    padding-left: 10%;    
    margin-top: 20%;
    padding-right: 5%;


}


